# Specific file types (anything with the following extensions). These files are ignored as they are almost always too big to be uploaded to github.
*.gpkg
*.tif
*.tiff
*.nc
*.gdb
*.zip
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.shp.xml

# Specific files that also need to be ignored (because I don't want them being uploaded and used without fore thought).
re_rip_table.csv
data/dt_water-quality_freshwater/processed/
data/dt_water-quality_estuarine/processed/
data/dt_water-quality_inshore/processed/
data/dt_maps/postcode/
renders/scripts/n3_prep_region-builder.html

# Exceptions for the file types listed above. (Exceptions are only made for items that cannot be downloaded online - e.g. they are custom).
!custom_reefs.gpkg
!fish_barriers.gpkg
!impounded_and_not_impounded_waters.gpkg
!dt_seagrass_2021.gpkg
!dt_seagrass_2022.gpkg
!frhp_land_boundaries.gpkg
!frhp_marine_boundaries.gpkg
!ghhp_boundaries.gpkg
!lakes_ross_extra.gpkg

# Additional excepts are for some of the archived and historic data. We don't want to lose track of it
!des_re_boundaries.gdb
!des_black_riparian_area_50m.gpkg
!des_ross_riparian_area_50m.gpkg
!mwi_marine.gpkg
!wt_full_marine.gpkg
!wt_inshore_marine.gpkg

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

/.quarto/


